{% extends 'team_management/base.html' %}
{% load staticfiles %}
{% block title %}New comment {% endblock %}
{% block header_block %}Thông tin Đoàn sinh {{member.user.get_full_name}}{% endblock %}
{% block sub_header_block %}Thêm nhận xét{% endblock %}
{% block body_block %}
	{% if member %}
		<h2>Member: {{ member.user.get_full_name }} </h2>
		<form id="comment_form" method="post" action="{% url 'add_comment' member_id=member_id %}">
		{% csrf_token %}
		{% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}
			{{ field }}
		{% endfor %}
		<input type="submit" name="submit" value="Add Comment"/>
		</form> 
	{% else %}
		A member with this ID does not exist
	{% endif %}
{% endblock %}
