{% extends 'team_management/base.html' %}
{% load staticfiles %}
{% block title %}Edit team - {{team.team_name}}{% endblock %}
{% block header_block %}Danh sách{% endblock %}
{% block sub_header_block %}Sửa thông tin Đội{% endblock %}
{% block body_block %}
	<form id="team_form" method="post" action="{% url 'edit_team' team_slug=team.slug %}">
		{% csrf_token %}
		{% for field in form.visible_fields %}
		<p>
			{{ field.errors }}
			{{ field.help_text}}
			{{ field }}
		</p>
		{% endfor %}
		<input type="submit" name="submit" value="Edit team"/>
	</form>
{% endblock %}