{% extends 'team_management/base.html' %}
{% load staticfiles %}
{% block title %} {{ team.team_name }} {% endblock %}
{% block header_block %}Thông tin Đội {{team.team_name}}{% endblock %}
{% block sub_header_block %}Danh sách{% endblock %}
{% block body_block %}
	{% if team %}
		<div class="panel panel-default">
			{% if is_admin %}
			<div class = "panel-heading"><a href= "{% url 'team_add_member_list' team_slug=team.slug %}">Add member</a></div>
			{% endif %}
			{% if members %}
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Birthday</th>
					<th>Profile</th>
				</tr>
				{% for member in members %}
				<tr>
					<td>{{ member.user.get_full_name }}</td>
					<td>{{ member.birthday }}</td>
					<td><a href="{% url 'member' member.id %}">View Profile</a></td>
					{% if is_admin %}
					<td><a href="{% url 'remove_member' team_slug=team.slug member_id=member.id %}">Remove</a></td>
					{% endif %}
				</tr>
				{% endfor %}
			</table>
			{% else %}
				<strong> No member currently in this team. </strong>
			{% endif %}
		</div>
	{% else %}
		The team does not exist!
	{% endif %}
{% endblock %}