{% extends 'scout_info/base.html' %}
{% load staticfiles %}
{% block title %}Camps{% endblock %}
{% block header_block %}Trại{% endblock %}
{% block sub_header_block %}Tất cả các kì trại{% endblock %}
{% block body_block %}
	<div class="panel panel-default">
		{% if is_admin %}
			<div class="panel-heading"><a href="{% url 'Scout_Info:add_camp' %}">Thêm kì trại</a></div>
		{% endif %}
	{% if camps %}
	<table class="table">
		<tr>
			<th>Tên kì trại</th>
			<th>Địa điểm</th>
			<th>Thời gian</th>
		</tr>
		{% for camp in camps %}
			<tr>
				<td><a href="{% url 'Scout_Info:camp' camp_name_slug=camp.slug %}">{{camp.name}}</a></td>
				<td>{{camp.location}}</td>
				<td>{{camp.start_date}} - {{camp.end_date}}</td>
			</tr>
		{% endfor %}
	</table>
	{% else %}
		No camp existed
	{% endif %}
{% endblock %}