{% extends 'scout_info/base.html' %}
{% load staticfiles %}
{% block title %}Category - {{category.name}}{% endblock %}
{% block header_block %}Tài liệu{% endblock %}
{% block sub_header_block %}{{category.name}}{% endblock %}
{% block body_block %}
	<div class="panel panel-default">
	<div class="panel-heading">
		<table class="table">
		<tr>
		{% if is_admin %}
		<th><a href="{% url 'Scout_Info:add_doc' %}">Thêm tài liệu</a></th>
		{% endif %}
		<th><a href="{% url 'Scout_Info:category_index' %}">Xem thể loại khác</a></th>
		<th><a href="{% url 'Scout_Info:document_index' %}">Xem tất cả tài liệu</a></th>
		</tr>
		</table>
	</div>
	{% if documents %}
		<table class="table">
			{% for doc in documents %}
				<tr>
					<td><a href="{{doc.link}}">{{doc.name}}</a></td>
					{% if is_admin %} 
					<td><a href="{% url 'Scout_Info:edit_document' document_slug=doc.slug %}">Sửa tài liệu</a></td>
					<td><a href="{% url 'Scout_Info:document_delete_confirmation' document_slug=doc.slug %}">Xóa</a></td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	{% else %}
		No documents existed in this category
	{% endif %}
	</div>
{% endblock %}