{% extends 'scout_info/base.html' %}
{% load staticfiles %}
{% block title %}Document Delete Confirmation{% endblock %}
{% block header_block %}Xóa Tài liệu{% endblock %}
{% block sub_header_block %}{{document.name}}{% endblock %}
{% block body_block %}
	<div class="panel panel-default">
		<div class="panel-heading">Bạn có đồng ý xóa tài liệu {{document.name}} ?</div>
		<div class="btn-group" role="group" aria-label="Basic example">
  			<a class="btn btn-primary" href="{% url 'Scout_Info:delete_document' document_slug=document.slug %}" role="button">Yes</a>
  			<a class="btn btn-primary" href="{% url 'Scout_Info:document_index' %}" role="button">No</a>
  		</div>
	</div>
{% endblock %}