{% extends 'scout_info/base.html' %}
{% load staticfiles %}
{% block title %}Documents{% endblock %}
{% block header_block %}Tài liệu{% endblock %}
{% block sub_header_block %}Tất cả tài liệu{% endblock %}
{% block body_block %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<p><a href="{% url 'Scout_Info:add_doc' %}">Thêm tài liệu</a></p>
			<p><a href="{% url 'Scout_Info:category_index' %}">View by Category</a></p>
		</div>
	{% if documents %}
		<table class="table">
			{% for doc in documents %}
				<tr>
					<td><a href="{{doc.link}}">{{doc.name}}</a></td>
					<td><a href="{% url 'Scout_Info:edit_document' document_slug=doc.slug %}">Sửa</a></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		No documents existed
	{% endif %}
	</div>
{% endblock %}